<h2><strong>Olá {{ courier }},</strong></h2>
<br>

Houve um cancelamento para uma encomenda, segue os dados: <br>
<strong>Produto: </strong> {{ product }} <br>

Caso tenha retirado o produto, favor devolver o mesmo para concluir o cancelamento
<br>
<br>

<small>Seu pedido em boas mãos!</small>
