<h2><strong>Olá {{ courier }},</strong></h2>
<br>

Você tem uma nova encomenda registrada para você, segue os dados: <br>
<strong>Produto: </strong> {{ product }} <br>
<strong>Destinatário: </strong> {{ recipient }} <br>
Siga para o local da retirada para poder coletar a encomenda.
Rua do santuário de atena, Nº 1 cs de Aries
<br>
<br>

<small>Seu pedido em boas mãos!</small>
